<template>
  <div class="home flex">
    <div class="w-2/3 mx-auto">
      <div v-for="(i, id) in 50" :key="id" class="my-5 ">
        Aliqua Lorem est occaecat officia laboris esse quis et. Velit culpa
        reprehenderit consequat id exercitation mollit in ipsum. Sint cupidatat
        aliquip in fugiat laboris adipisicing amet exercitation ad cupidatat
        aute. In velit sit laboris sint elit ex anim labore. Aliqua Lorem est
        occaecat officia laboris esse quis et. Velit culpa reprehenderit
        consequat id exercitation mollit in ipsum. Sint cupidatat aliquip in
        fugiat laboris adipisicing amet exercitation ad cupidatat aute. In velit
        sit laboris sint elit ex anim labore. Aliqua Lorem est occaecat officia
        laboris esse quis et. Velit culpa reprehenderit consequat id
        exercitation mollit in ipsum. Sint cupidatat aliquip in fugiat laboris
        adipisicing amet exercitation ad cupidatat aute. In velit sit laboris
        sint elit ex anim labore.
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
  created() {
    this.init();
  },
  methods: {
    init() {
      this.SmoothScroll(document, 400, 20);
    },
    SmoothScroll(target, speed, smooth) {
      if (target === document)
        target =
          document.scrollingElement ||
          document.documentElement ||
          document.body.parentNode ||
          document.body; // cross browser support for document scrolling

      var moving = false;
      var pos = target.scrollTop;
      var frame =
        target === document.body && document.documentElement
          ? document.documentElement
          : target; // safari is the new IE

      target.addEventListener("mousewheel", scrolled, { passive: false });
      target.addEventListener("DOMMouseScroll", scrolled, { passive: false });

      function scrolled(e) {
        e.preventDefault(); // disable default scrolling

        var delta = normalizeWheelDelta(e);

        pos += -delta * speed;
        pos = Math.max(
          0,
          Math.min(pos, target.scrollHeight - frame.clientHeight)
        ); // limit scrolling

        if (!moving) update();
      }

      function normalizeWheelDelta(e) {
        if (e.detail) {
          if (e.wheelDelta)
            return (e.wheelDelta / e.detail / 40) * (e.detail > 0 ? 1 : -1);
          // Opera
          else return -e.detail / 3; // Firefox
        } else return e.wheelDelta / 120; // IE,Safari,Chrome
      }

      function update() {
        moving = true;

        var delta = (pos - target.scrollTop) / smooth;

        target.scrollTop += delta;

        if (Math.abs(delta) > 0.5) requestFrame(update);
        else moving = false;
      }

      var requestFrame = (function() {
        // requestAnimationFrame cross browser
        return (
          window.requestAnimationFrame ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame ||
          window.oRequestAnimationFrame ||
          window.msRequestAnimationFrame ||
          function(func) {
            window.setTimeout(func, 1000 / 50);
          }
        );
      })();
    }
  }
};
</script>
